
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Hero - Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        .hero-list img {
            width: 50px;
        }
    </style>
</head>

<body>
    <header>
        <div class="page-header container">
            <h1>王者荣耀 <small>英雄管理器</small></h1>
        </div>
    </header>
    <div class="container hero-list">
        <form id='myform'>
            <table class="table table-hover">
                <tbody><tr>
                    <td>姓名：</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>性别：</td>
                    <td>
                        <input id="nan" name="gender" value="男" type="radio" checked><label for="nan">男</label> 
                        <input name="gender" value="女" type="radio" id="nv"><label for="nv">女</label>
                    </td>
                </tr>
                <tr>
                    <td>头像：</td>
                    <td>
                        <img src="/images/none.png" alt="" id="photo" width="100" style='border: 1px solid #ccc;margin-bottom: 5px;'>
                        <input type="file" id="img">
                        <!-- 添加隐藏域 把图片的name引出来 -->
                        <input type="hidden" name="img" class="myimg">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" id="sub" value="新增"></td>
                </tr>
            </tbody></table>
        </form>
    </div>
<script src="js/jquery.min.js"></script>
<script>
        $(function(){
            //上传图片信息
            $('#img').on('change',function(){
                //文件上传方式
                var formdata = new FormData()
                //文件对象
                var fileImg = document.querySelector('#img').files[0]
                //文件上传方法
                formdata.append('img',fileImg)

                //写ajax
                $.ajax({
                    type : 'post',
                    url : '/uploadFile',
                    data : formdata,
                    processData : false,
                    contentType : false,
                    dataType : 'json',
                    success : (result) =>{
                        // console.log(result)
                       $('#photo').attr('src','/images/' + result.img)
                       //把图片得name属性传进来
                       $('.myimg').val(result.img)
                    }
                })
            })

            //提交数据
            $('#sub').on('click',function(){
                $.ajax({
                    type : 'post',
                    url : '/add',
                    data : $('#myform').serialize(),
                    dataType : 'json',
                    success : function(result){
                        if(result.code == 200){
                            alert(result.msg)
                            location.href = '/'
                        }else{
                            alert(result.msg)
                        }
                       
                    }
                })
            })
        })
</script>
</body></html>